[data-current-theme='solarized dark'] {
  --main-color: #859900;
  --page-background: hsl(192, 100%, 5%);

  --header-background: #002b36;

  --buttons-background: #2F4858;
  --buttons-background-hover: #120f0f;
  --buttons-text-color-active: #ffffff;

  --inputs-border-hover: #61BAAD;
  --inputs-background-active: #0d0f00;

  --text-color: hsl(175, 59%, 50%);
  --text-results-color: #268bd2;

  --cards-background: #002b36;
  --cards-header-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
  --cards-info-background: #0d0f00;
}
[data-current-theme='solarized dark'] .header-title {
  background: conic-gradient(from -90deg at var(--title-color-Pos) 100%, #268bd2, #859900, #268bd2, #859900)
}
